#clockcontainer{
    position: relative;
    margin:auto;
    height: 50vw;
    width: 49vw;
    background: url(Clock.png) no-repeat;
    background-size: 100%;
}
#hour, #minute, #seconds{
    position: absolute;
    transform-origin: bottom;
}
#hour{
    width: 1%;
    height: 25%;
    top: 24%;
    left: 49.3%;
    opacity: 0.8;
    background-color: black;  
}
#minute{
    width: 0.9%;
    height: 30%;
    top: 19%;
    left: 49.6%;
    opacity: 0.8;  
    background-color: black;  
}
#seconds{
    width: 0.5%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
    background-color: black; 
}   

